* {
	
	margin: 0;
}

#wrapper {
	margin: 0 auto;
	max-width: 400px;
	min-width: 320px;
	text-align: center;
	padding: 20px;
}

.header {
	font-family: Arial, sans-serif;
}

.header img {
	width: 100% !important;
	height: 100% !important;
	display: block;
	margin-bottom: 10px;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.entry {
	margin: 40px 0;
	vertical-align: top;
	height: 60px;
}

input[type="text"] {
	width: 80px;
	height: 60px;
	font-size: 50px;
	text-align: center;
	outline-color: none;
	border: 1px solid #ccc;
	vertical-align: bottom;

	-moz-box-shadow: inset 1 1 4px #888;
	-webkit-box-shadow: inset 1 1 4px#888;
	box-shadow: inner 1 1 4px #888;

}


button.enter {
	outline: none;
	border: 1px solid Red;
	background-color: Red;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 20px;
	display: inline-block;
	height: 64px;
}

#feedback {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 40px;
	color: #58595b;
}

